/* general */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  font-size: 1.2rem;
}

/* header */

header {
  background-color: black;
  line-height: 100%;
  margin-bottom: -4px;
}

header img {
  max-width: 8%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
}

/* main */

main .first-box {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  min-height: 400px;
}

main .first-box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .first-box h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  line-height: 1;
}

main .first-box p {
  font-size: 20px;
  padding: 20px;
}

main .first-box button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 35px 15px 35px;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
  text-transform: uppercase;
}

main .second-box {
  text-align: left;
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100vh;
}

main .second-box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

main .second-box h2 {
  color: #25a2c3;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

main .second-box img {
  float: left;
  margin-right: 50px;
  border-radius: 50%;
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

main .second-box p {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

main .second-box p:last-child {
  margin-bottom: 70px;
}

main .third-box {
  background-color: #e22d0e;
  color: white;
  text-align: center;
  padding: 80px 20px 80px 20px;
}

main .third-box h2 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  padding-top: 20px;
}

main .third-box p span {
  font-style: italic;
  font-size: 25px;
}

main .third-box p:not(:last-child) {
  padding-top: 20px;
}

main .third-box p:nth-child(3) {
  font-size: 20px;
}

main .third-box p:nth-child(4) {
  font-size: 13px;
}

main .fourth-box {
  text-align: center;
  width: 100%;
}

main .fourth-box img {
  width: 100%;
  height: 20em;
  padding-bottom: 20px;
  object-fit: cover;
}

main .fourth-box h2 {
  color: #25a2c3;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

main .fourth-box p {
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 30px;
}

main .fourth-box div {
  border: #dee1e3 solid 1px;
  max-width: 25%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: top;
  height: 30em;
  margin-right: 2em;
}

/* footer */
footer {
  background-color: #25a2c3;
  text-align: center;
  color: #c8e7f0;
}

footer a {
  color: #c8e7f0;
}

footer hr {
  max-width: 20%;
}

footer h2 {
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 35px;
}

footer .centre {
  position: relative;
  height: 10rem;
}

footer .centre div {
  padding-bottom: 25px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer p:nth-child(4) {
  padding-top: 25px;
  padding-bottom: 60px;
  font-size: 16px;
}

footer i {
  padding-right: 5px;
}
